In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv'
data = pd.read_csv(url)

In [ ]:
X = data.drop(['Survived', 'PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns')
X

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [ ]:
y = data.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
X.Age.isnull().values.any()

True

In [ ]:
X.Age = X.Age.fillna(X.Age.median())

In [ ]:
from sklearn.preprocessing import LabelEncoder
X['Sex'] = LabelEncoder().fit_transform(X.Sex)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier().fit(X_train, y_train)

In [ ]:
from sklearn.metrics import f1_score
display(model.score(X_test, y_test))

y_pred = model.predict(X_test)
display(f1_score(y_test, y_pred))

0.8379888268156425

0.7972027972027972